*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    
}
header{
    background-image: url('../images/back.jpg');
    background-size: cover;
    /* padding-bottom: 100px; */
    display: flex;
    flex-direction: column;
    color:white;
}
.logo{
    font-size: 30px;
    font-weight: bolder;
    font-family:'Bebus neue';
    color: white;
}
.navigation{
    display:flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.6);
    font-size: medium;
    padding: 20px;
}
nav a{
    text-decoration: none;
    color:white;
    padding:10px;
    font-size: 20px;
    font-weight: 700;
}

header .container{
    padding-left: 100px; 
}
.container{
    color: white;
    display:flex;
    flex-direction: column;
    background: linear-gradient(to right,rgba(0, 0, 0, 0.694) 20% ,transparent);
    /* padding-bottom: 120px;  */
}
.intro{
    font-size: 40px;
    color:white;
    text-transform: uppercase;
    font-family:'Bebas Neue';
    /* margin-left: 80px; */
    
}
.bio p{
    color:white;
    font-size:20px;
    padding-bottom: 20px;}
.icons{
    display:flex;
    gap:15px; 
    padding-bottom: 20px;
    

}
.icons i{
    padding:10px;
    font-size: 30px;
    color: white;
  
}
.icons i:nth-child(1){
    background-color: darkblue;
}
.icons i:nth-child(2){
    background-color:skyblue;
}
.icons i:nth-child(3){
    background-color: red;
}
header hr{
    width:30%;
    margin-bottom: 30px;
}
.container2{
    padding:70px;
    display:grid;
    grid-template-columns: auto auto auto auto auto;
}
.box{
    padding:40px;
    align-items: center;
    text-align: center;
    
}
.divider{
    border-left:  dotted lightgray;
}
.box img{
    height: 150px;
    width:170px;
}
.quality{
    margin-top: 170px;
    background-color: #140748;
    color: white;
    padding:90px 120px;
    display: flex;
    justify-content: space-between;
    position: relative;
    img{
        
        height:200px;
        width:200px;
    }
    p{
        color: #FFFFFF;
    font-family: "Roboto", Sans-serif;
    font-size: 22px;
    font-weight: 300;
    }
}
.slider{
    margin-left: 150px;
    position: absolute;
    top: -40%;
    align-items: center;
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding-bottom: 30px;
    img{
        padding:10px
    }
}
.title{
    margin-bottom: 15px;
    color: #140748;
    font-family: "Bebas Neue", Sans-serif;
    font-size: 22px;
    font-weight: 400;
    p{
    color: #666666;
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    }
}
.quality h2{
    font-size: 40px;
    margin-bottom: 20px;
}
.quality p{
        font-size: 22px;
}

.profile{
    display:grid;
    grid-template-columns: auto auto;
    img{

        height:auto;
        width:680px;
    }
}
.profile-info{
    font-family: ""Roboto", Sans-serif";
    font-size: 16px;
    line-height: 1.6em;
    color: #666666;
    padding:50px;
    h1{
        color: #140748;
        font-family: "Bebas Neue", Sans-serif;
        font-size: 40px;
        font-weight: 400;
        padding-top: 65px;
    }
    ul{
        padding-top:20px;
    }
    li{
        
        font-size: 20px;
        line-height: 2.8;
        font-weight: 900;
        color:black;
        list-style: none;
        i{
            color:#7961E8;
            margin-right: 10px;
        }
    
    }
    button{
        background-color: #140748;
        margin-top: 30px;
        color:white;
        padding: 15px 25px 15px 25px;
        border-radius: 2px;
        font-family: "Roboto", Sans-serif;
        font-size: 14px;
        font-weight: 600;
       
}
}
button:hover
{
    background-color:#7961E8;
}

.education{
    color: #140748;
    font-family: "Bebas Neue", Sans-serif;
    margin-top: 200px;
    display: flex;
}
.details{
    
    padding-left:80px;
    h2,h3,p{
        padding-top:30px;
    }
    h3{
        font-weight: 300;
        color: #666666;
        font-family: "Roboto", Sans-serif;
        font-size: 20px;
    }
}
.pic{
    img{
        height:auto;
        width:90%;
    }
}
.courses{
        border-left:dotted;
        padding-left:50px;

}
.work{
    
    color: #140748;
    font-family: "Bebas Neue", Sans-serif;
    margin-top: 120px;
    display:flex;
}
    h1{
        padding-bottom:50px;
    }
    img{
        /* padding-right: 80px; */
        height: auto;
        width:100%;
    }
    .job{
        font-family:"Bebas Neue" ;
        padding-top: 50px;
    }
    .job h2,h3,p{
        padding-top:30px;

    }
     .experience{
        padding-left:70px;
        margin-top: 100px;
        border-left: dotted;
     }
    h3{
        font-weight: 300;
        color: #666666;
        font-family: "Roboto", Sans-serif;
        font-size: 20px;
    }
    p{
        color: #666666;
        font-family: "Roboto", Sans-serif;
        font-size: 16px;
    }
    .featured{
        padding-top:80px;
    }
   .head{
    color: #140748;
    font-family: "Bebas Neue", Sans-serif;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 50px;
   }
.featureimg{
    display: grid;
    grid-template-columns: auto auto auto auto;
    /* justify-content: space-around; */
    gap:15px;
    padding-left:50px;
    padding-right: 50px;;
    img{
       height: auto;
       max-width: 100%;
    }
}
.technologies{
    padding-top: 20px;
    display: flex;
    column-gap: 40px;
    justify-content: space-evenly;
    h1{
        margin-bottom: 0px;
    color: #140748;
    font-family: "Bebas Neue", Sans-serif;
    font-size: 22px;
    font-weight: 400;
    text-transform: none;
    font-style: normal;
    }
}
.technology{
    display: grid;
    grid-template-columns: auto auto auto auto;
    /* justify-content: space-around; */
    padding-left: 40px;
    padding-right: 40px;
    font-family: "Bebas Neue", Sans-serif;
    
    .t1{
        text-align: center;
        padding: 20px;
        padding-left: 40px;
        padding-right: 40px;
        margin: 20px;
        font-family: "Bebas Neue", Sans-serif;
        font-size: 20px;
        font-weight: 400;
        color: #140748;
        /* border:5px solid black; */
        box-shadow: 0 0 10px lightgray;
    }   
}
.meeting{
    margin-top: 100px;
    height:auto;
    position:relative;
}
.peoples{
    padding-inline: 70px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
    padding-bottom: 100px;
    position: absolute;
    bottom:-250px;
    .person{
        padding: 40px;
        background-color: #FFFFFF;
        box-shadow:0px 10px 30px 0px  rgba(0, 0, 0, 0.1);
        
        p{
            color: #666666;
            font-family: "Roboto", Sans-serif;
            font-size: 16px;
            font-weight: 400;
            text-transform: none;
            line-height: 1.6em;
            margin-bottom: 25px;
        }
        .nameimg{
            display:flex;
            flex-direction: row;
            .namejob{
            padding-left: 10px;
        } h3{

            padding-top:5px;
            font-family: "roboto";
            font-weight: 600;
            color: #323335;
            
        }
        .namejob h4{
            color: #1E1E1E;
            font-family: "Roboto", Sans-serif;
            font-size: 14px;
            font-weight: 400;
            text-transform: uppercase;
            font-style: normal;
            line-height: 1.6em;
        }
        }

        img{
            border-radius: 220px;
            height:60px;
            width:60px;
        }
    }
}
.logos
{   
    
    padding-top: 200px;
    display:grid;
    grid-template-columns: auto auto auto auto;
    gap:20px;
    padding-inline: 80px;
    background-color: #f6f6f6f5;
}
.query
{   
    display: flex;
    width:100%;
}
.query .part1{
    /* padding-top: 100px;
    padding-left: 90px;
    padding-right: 50px; */
    padding:90px;
    padding-top: 180px;
    padding-bottom: 180px;;
    
    width:50%;
    /* height:500px; */
    background-color: #FFFFFF;
    color: #140748;
    font-family: "Bebas Neue";
    font-weight: 100;
    font-style: normal;
    text-decoration: none;
    line-height: 1.6em;
    justify-content: left;
    text-align: justify;
    h1{
        font-size: 40px;
        font-family: "Bebas Neue";
        font-weight: 100;
    }
    h2{
        font-size: 24px;
        font-family: "Bebas Neue";
        font-weight: 100;
    }
    hr{
        margin-top: 40px;
        margin-bottom: 40px;
    }
    p{
        text-align: left;
        color: #666666;
    font-family: "Roboto", Sans-serif;
    font-size: 22px;
    font-weight: 300;
    text-transform: none;
    
    text-decoration: none;
    line-height: 1.6em;
    }
   } 
.query .part2{
    width:50%;
    background-color:rgba(100, 97, 239, 0.842);
    position: relative;
;
   }
.feedback{
    position:absolute;
    top:150px;
    right:40px;
    padding:40px;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
    
    height: fit-content;
    width:700px;
    background-color:white ;
    form input,textarea,button{
        margin: 20px;
        padding:10px;
        width:90%;
        
    }
    form button{
    font-family: "Roboto", Sans-serif;
    width:fit-content;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: #ffffff;
    border: none;
    text-align: center;
    padding: 15px 70px 15px 70px;
    background-color: #313636;
    }   
}
footer{
    background-color:#140748;
    padding-top:100px;
    padding-bottom:100px;
    text-align: center ;
    .heading h1{
        color: #FFFFFF;
    font-family: "Bebas Neue", Sans-serif;
    font-size: 60px;
    font-weight: 400;
    }
}
.footerlogo{
 padding-bottom:20px;
 
}
.footerlogo i{
    margin-left:30px;
    border-style: 20px solid red;
    padding:18px;
    color:white;
    font-size: 25px;
    border:none;
}
.footerlogo i:nth-child(1){
    background-color: #3b5998;
}
.footerlogo i:nth-child(2){
        background-color: #1da1f2;

}
.footerlogo i:nth-child(3){background-color: #0077b5;

}
.footerlogo i:nth-child(4){
        background-color: #ea4c89;

}
.footerlogo i:nth-child(5){
    background-color: red;

}
.copy{
    color:white;
    margin-top: 25px;
    font-family: "roboto";
}
@media (max-width: 768px) {
  
header{
    width: 100%;
}
.container2{
display:grid;
grid-template-columns: auto;

}
.quality{
    background-color: #140748;
    color: white;
    padding:500px 120px;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100vh;
    align-items: center;

    
}
.slider{
display:grid;
grid-template-columns: auto auto;
position: absolute;
left:0px;
top:20px;
padding:40px;
}
.profile{
    padding-top: 20px;
    grid-template-columns: auto;
    img{
        width:100%;
        height: auto;
    }
}
.education{
    display: grid;
    grid-template-columns: auto;
    text-align: center;
    align-items: center;
    border: none;
    .pic{
        margin-left: 30px;
        padding:40px;
        width: 100%;
        height: auto;
    }
}
.work{
    display:grid;
    grid-template-columns: auto;
    text-align: center;
    .pic{
         margin-left: 30px;
        padding:40px;
        width: 100%;
        height: auto;
    }
    .experience{
     border: none;   
    }
}

.featureimg
{   
    display: grid;
    grid-template-columns: auto auto;
    img{
        width:60vh;
        height:60vh;
    }}
.technologies{
    display: none;
}
.technology{
    display:grid;
    grid-template-columns: auto auto;
}
.meeting{
    position: none;
    height: auto;
    width: auto;
}
.peoples{
    display: flex;
    flex-direction: column;
    position:relative;
    

    .person{
        display: flex;
        flex-direction: row;
    }
}
.logos{
    display:none;
}
.query{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: none;
    width: 100vh;
    .part1{
        padding: 35px;
        padding-top: 50px;
        padding-bottom: 50px;
        width:60vh;
        position: none;
        /* position: relative; */
    }
    .part2 
    {  
        height: 100vh;
        display: grid;
        grid-template-columns: auto; 
        width:70vh;
        background-color: white;
        padding:35px;
        /* justify-content: center; */
        position: relative;
    }
    .feedback{
        /* display: flex;; */
        margin: 0px;
        position:absolute;
        top:20px;
        left:10px;
        height:fit-content;
        width: 90%;
        /* margin-bottom: 200px; */
    }
}
footer
{
    margin-top: 40px;
    width: 100%;
}
.navigation
{
    display:flex;
    .navbar{
        display:grid;
        grid-template-columns: auto auto
    }
}
.icons{
    display:flex;
    i{
        width:max-content;

    }
}
}
body{
    border:5px solid red; 
}